{% extends 'base.html.twig' %}

{% block title %}Informations du produits{% endblock %}

{% block stylesheets %} 
{{parent () }}
<link href="/css/product.css" rel="stylesheet" />
{% endblock %}

{% block body %}

 <section class="item">

    <article>
        <div class="item__img">
            <img src="/images/{{canape.image}}" alt="{{canape.altTxt}}">
        </div>

        <div class="item__content">

            <div class="item__content__titlePrice">
                <h1 id="title">{{canape.nom}}</h1>
                <p>Prix : <span id="price">{{canape.prix}}</span>€</p>
            </div>

            <div class="item__content__description">
                <p class="item__content__description__title">Description :</p>
                <p id="description">{{canape.description}}</p>
            </div>

            <div class="item__content__settings">
                <div class="item__content__settings__color">
                    <label for="color-select">Choisir une couleur :</label>
                    <h4>{{canape.couleur}}</h4>
                </div>

                <div class="item__content__settings__quantity">
                    <label for="itemQuantity">Nombre d'article(s) (1-100) :</label>
                    <input type="number" name="itemQuantity" min="1" max="100" value="0" id="quantity">
                </div>
            </div>

            <div class="item__content__addButton">
                <button id="addToCart">Ajouter au panier</button>
            </div>

        </div>
    </article>
</section>

{% endblock %}
